@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;

}

li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

header {
    opacity: 0.95;
    background-color: #24252a;
    display: flex;
    justify-content: flex-end;
    padding: 3px 5%;
    align-items: center;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    height: 4%;
    width: 4%;
}

.nav_bar {
    margin: 0, 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #24252a;

}

.nav__links {
    display: inline-block;
    list-style: none;
}

.nav__links li {
    padding: 0px 20px;
    display: inline-block;
}

.nav__links li a {
    transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: color 0.3s ease 0s;
}

.blocker {
    height: 5%;
}



button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

body {
    /* background-image: linear-gradient(to right,#ddd6f3  , #faaca8);  */
    background-image: linear-gradient(to right, #A9F1DF, #FFBBBB);
    overflow: hidden;
}

#main_text {
    font-size: 100px;
    text-align: center;
    color: #333333;
}

#sub_text1 {
    font-size: 30px;
    top: 1%;
    position: relative;
    /* left: 5%; */
    width: 100%;
    justify-content: center;
    color: #333333;
}

.column {
    float: left;
    display: flex;
    overflow: auto;
    margin-left: 25%;
}
.column_about {
    float: left;
    display: flex;
    overflow: auto;

}


.icon {
    padding: 20%;
    width: 50px;
    height: 50px;
}

/* Clearfix (clear floats) */


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;


}

#about {
    height: 70vh;
}

.container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

#about_text {
    text-align: left;
    padding-left: 50%;
}

.exp_text {
    text-align: left;
    padding-left: 10%;
    overflow: hidden;
    width: 50%;

}

.column_exp {
    float: left;
    display: flex;
    overflow: auto;
    margin: 0 auto;
}

#exp_body {
    align-items: center;

}

/* }
.pp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */