@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    caret-color: transparent;

}

li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

header {
    /* opacity: 1; */
    background-color: #24252a;
    display: flex;
    justify-content: flex-end;
    padding: 3px 5%;
    align-items: center;
    z-index: 9999;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    height: 4%;
    width: 4%;
}

.nav_bar {
    margin: 0, 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #24252a;

}

.nav__links {
    display: inline-block;
    list-style: none;
}

.nav__links li {
    padding: 0px 20px;
    display: inline-block;
}

.nav__links li a {
    transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: color 0.3s ease 0s;
}

.blocker {
    height: 5%;
}



button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

body {
    /* background-image: linear-gradient(to right,#ddd6f3  , #faaca8);  */
    background-image: linear-gradient(to right, #A9F1DF, #FFBBBB);
    overflow: hidden;
}

#main_text {
    font-size: 100px;
    text-align: center;
    color: #333333;
}

#sub_text1 {
    font-size: 30px;
    top: 1%;
    position: relative;
    /* left: 5%; */
    width: 100%;
    justify-content: center;
    color: #333333;
}

/* .column_logo {
    float: inline;
    display: flex;
    overflow: auto;
    
} */

.row_logo {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;

    column-gap: 5px;
}

.column_logo {
    flex: 33.33%;
    padding: 5px;
}

.column {
    float: left;
    display: flex;
    overflow: auto;
    margin-left: 25%;
}

.column_about {
    float: left;
    display: flex;
    overflow: auto;

}


.icon {
    padding: 20%;
    width: 50px;
    height: 50px;
}

/* Clearfix (clear floats) */


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;


}

#about {
    height: 70vh;
}

#contact {
    height: 30vh;

}

.work__img {
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
    border-radius: .5rem;
    overflow: hidden;
}

.work__img img {
    transition: 1s;
    cursor: pointer;
}

.work__img img:hover {
    transform: scale(1.1);
}

.container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

#about_text {
    text-align: left;
    padding-left: 50%;
}

.exp_text {
    text-align: left;
    padding-left: 10%;
    overflow: hidden;
    width: 50%;

}

.column_exp {
    float: left;
    display: flex;
    overflow: auto;
    margin: 0 auto;
}

#exp_body {
    align-items: center;

}



.work__container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;

    column-gap: 5rem;
    row-gap: 5rem;
}

.work__img {
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
    border-radius: .5rem;
    overflow: hidden;
}

.work__img img {
    transition: 1s;
    cursor: pointer;
}

.work__img img:hover {
    transform: scale(1.1);
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.bd-grid {
    margin-left: auto;
    margin-right: auto;
}

#projects {
    position: relative;
}

.titles {
    color: rgba(0, 136, 169, 1);
    font-weight: 500;
}

.sub_titles {
    color: rgba(0, 136, 169, 0.8);
    font-weight: 600;

}

.sub_role {

    font-weight: 600;

}

h3 {
    display: inline;
}

.email {
    float: left;


}

.email_text {

    text-align: center;
    line-height: 50px;
    margin-left: 20px;
}

.email_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-container {
    display: flex;
    align-items: center;
}
.video-text-wrapper {
    overflow: hidden;
  }
  
  .video-wrapper {
    float: left;

    margin-right: 20px;
    margin-left: 15%;
  }
  
  .text-wrapper {
    float: right;
    width: 30%;
    margin-right: 20%;
  }